<!-- Content -->
    <div class="notification">
        <section class="section plantBackground">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-8">
                    <div class="tile is-parent is-bold">
                        <article class="tile is-child notification white">
                            <p class="title is-1">{{results.name}}
                                <a class="button is-primary is-outlined is-pulled-right" plantID={{results.id}}>
                                    <span class="icon is-small">
                                    <i class="fa fa-heart"></i>
                                    </span>
                                    <span> Favorites</span>
                                </a>
                            </p>
                            {{results.description}}
                            <p class="subtitle">Everyone seems to love juicy watermelon in the summertime. Native to Africa, melons need warm temperatures (up to 80 degrees during the day) and a long growing season. Gardeners in colder climates can still have success in growing watermelon by starting seeds indoors and choosing short-season varieties. Days to maturity range from 70 to 90, depending on the variety.</p>
                        </article>
                    </div>
                    <div class="tile">
                        <div class="tile is-parent is-vertical">
                            <article class="tile is-child notification white">
                                <p class="title">Optimal Sun</p>
                                {{results.optimal_sun}}
                                <p class="subtitle">Full Sun(at least 6 hours a day)</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child notification white">
                            <p class="title">Optimal Soil</p>
                            {{results.optimal_soil}}
                            <p class="subtitle">Loamy</p>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification white">
                        <figure class="image is-square">
                            <img src="http://placehold.it/640x480">
                        </figure>
                    </article>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-8">
                    <div class="tile is-parent is-bold">
                        <article class="tile is-child notification white">
                            <p class="title">When to plant</p>
                            {{results.when_to_plant}}
                            <div class="content">
                                Watermelon vines are very tender and should not be transplanted until all danger of frost has passed. (To be safe, wait at least two weeks past your last frost date.) If you are in a cooler zone, start seeds indoors about a month before transplanting.
                            </div>
                            <p class="title">Planting Considerations</p>
                            {{results.planting_considerations}}
                            <div class="content">
                                Amend soil with aged manure, seaweed, and/or compost before planting. Watermelons are heavy feeders. Watermelons prefer a soil pH between 6 and 6.8.
                            </div>
                            <p class="title">Growing from seeds</p>
                            {{results.growing_from_seed}}
                            <div class="content">
                                If you live in warmer climates, you can direct sow seeds outdoors, but wait until the soil temperature warms to at least 70 degrees to avoid poor germination.
                            </div>
                            <p class="title">Transplanting</p>
                            {{results.transplanting}}
                            <div class="content">
                                Transplant at least two weeks past the last frost date of spring. After you transplant, cover the plants with row covers to keep pests at bay. You'll remove the row covers when you see both male and female flowers on the vine.
                            </div>
                            <p class="title">Spacing</p>
                            {{results.spacing}}
                            <div class="content">
                                Growing the vines in raised rows, known as hills, ensures good drainage and will hold the sun’s heat longer. Space the plants about 2 feet apart in a 5-foot-wide hill. If you're growing in rows, space 6 feet apart by 6 feet apart.
                            </div>
                            <p class="title">Watering</p>
                            {{results.watering}}
                            <div class="content">
                                Watering is very important from planting until fruit begins to form. While melon plants are growing, blooming, and setting fruit, they need 1 to 2 inches of water per week. Keep soil moist but not waterlogged. Water at the vine's base in the morning, and try to avoid wetting the leaves and avoid overhead watering. Reduce watering once fruit are growing. Dry weather produces the sweetest melon.
                            </div>
                            <p class="title">Feeding</p>
                            {{results.feeding}}
                            <div class="content">
                                If you choose to fertilize (and many do), make sure it's deliver more nitrogen than phosphorus and potassium. However, after flowering begins, use a fertilizer with less nitrogen. We like to use liquid seaweed.
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent is-bold">
                        <article class="tile is-child notification white">
                            <p class="title">Harvesting</p>
                            {{results.harvesting}}
                            <div class="content">
                                Watermelons don’t sweeten after they are picked, so harvest time is important. They generally ripen over two weeks so keep you eye on them. Check the tendril. If it's green, wait. If it’s half-dead, the watermelon is nearly ripe or ripe. If the tendril is fully dead, it's ripe or overripe; it’s not going to get any riper, so you might as well pick! Stems should be cut with a sharp knife close to the fruit.
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification white">
                        <p class="title">Other Care</p>
                        {{results.other_care}}
                        <div class="content">
                            Mulching with black plastic will serve multiple purposes: it will warm the soil, hinder weed growth and keep developing fruits clean. Pruning isn't necessary, but vine productivity may be improved if you do not allow lateral (side) vines to grow and stick to the main vine. When the plant is young, just cut off the end buds as they form (before the side shoots become vines). You can also pinch off some blossoms to focus the energy on fewer melons (though it's a challenge to kill off a potential fruit!). As fruit is ripening, prevent rotting by gently lifting it and putting some cardboard or straw between the fruit and the soil.
                        </div>
                        <p class="title">Storage Use</p>
                        {{results.storage_use}}
                        <div class="content">
                            Watermelons can be stored uncut for about 10 days. If cut, they can last in the refrigerator for about 4 days. Wrap tightly in plastic.
                        </div>
                        <p class="title">Diseases</p>
                        {{results.diseases}}
                        <div class="content">
                            Aphids, Squash Borers
                        </div>
                        <p class="title">Pests</p>
                        {{results.pests}}
                        <div class="content">
                            Fusarium Wilt
                        </div>
                    </article>
                </div>
            </div>
        </div>
        </section>
    </div>


    <!-- Foot for Green Thumb -->
	<footer class="footer">
		<div class="container">
			<div class="content has-text-centered">
				<p>
					<strong>Green Thumb</strong> a web application built by <a href="https://github.com/fbrahman/greenThumb">Cindy Chen, Nick Nociforo, Fahad Rahman, Kira Z</a> 
				</p>
			</div>
		</div>
	</footer>

