{{!-- remove categories that are null display favorites button for logined users only --or-- have button display a tool tip
or alert to tell the user to login --}}

<!-- Content -->
<div class="notification">
    <section class="section plantBackground">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile is-parent is-bold">
                    <article class="tile is-child notification white">
                        <p class="title is-1">{{results.name}}
                            <form action="/favorites/add" method="POST">
                                <input type="hidden" name="plantID" value={{results.id}}>
                                <button class="favButton" type="submit">
                                        <a class="button is-success is-pulled-right">
                                            <span class="icon is-small">
                                            <i class="fa fa-heart"></i>
                                            </span>
                                            <span> Favorites</span>
                                        </a>
                                    </button>
                            </form>
                        </p>
                        <p class="subtitle">{{results.description}}</p>
                    </article>
                </div>
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification white">
                            <p class="title">Optimal Sun</p>
                            <p class="subtitle">{{results.optimal_sun}}</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification white">
                            <p class="title">Optimal Soil</p>
                            <p class="subtitle">{{results.optimal_soil}}</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification white">
                    <figure class="image">
                        <img src={{plantImg results.image}}>
                    </figure>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile is-parent is-bold">
                    <article class="tile is-child notification white">
                        <p class="title">When to plant</p>
                        <div class="content">
                            {{results.when_to_plant}}
                        </div>
                        <p class="title">Planting Considerations</p>
                        <div class="content">
                            {{results.planting_considerations}}
                        </div>
                        <p class="title">Growing from seeds</p>
                        <div class="content">
                            {{results.growing_from_seed}}
                        </div>
                        <p class="title">Transplanting</p>
                        <div class="content">
                            {{results.transplanting}}
                        </div>
                        <p class="title">Spacing</p>
                        <div class="content">
                            {{results.spacing}}
                        </div>
                        <p class="title">Watering</p>
                        <div class="content">
                            {{results.watering}}
                        </div>
                        <p class="title">Feeding</p>
                        <div class="content">
                            {{results.feeding}}
                        </div>
                    </article>
                </div>
                <div class="tile is-parent is-bold">
                    <article class="tile is-child notification white">
                        <p class="title">Harvesting</p>
                        <div class="content">
                            {{results.harvesting}}
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification white">
                    <p class="title">Other Care</p>
                    <div class="content">
                        {{results.other_care}}
                    </div>
                    <p class="title">Storage Use</p>
                    <div class="content">
                        {{results.storage_use}}
                    </div>
                    <p class="title">Diseases</p>
                    <div class="content">
                        {{results.diseases}}
                    </div>
                    <p class="title">Pests</p>
                    <div class="content">
                        {{results.pests}}
                    </div>
                </article>
            </div>
        </div>
</div>
</section>
</div>
