<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{resultCount}} results were returned for "{{searchTerm}}".
      </h1>
      <h2 class="subtitle">

      </h2>
    </div>
  </div>
</section>

<br>
<div class="container section">
  <div class="columns is-multiline">
    {{#each results}}
    <div class="column is-one-third" >
      <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <a class="title is-3" href={{plantSearch name}}>
                <figure class="image resultImage">
                <img src={{plantImg image}}>
                </figure>
                {{name}}
              </a>
            </article>
          </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>